.particles_bg .particle {
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0
}

@-webkit-keyframes particle-animation-1 {
    to {
        transform: translate3d(86vw,43vh,75px)
    }
}

@keyframes particle-animation-1 {
    to {
        transform: translate3d(86vw,43vh,75px)
    }
}

.particles_bg .particle:first-child {
    -webkit-animation: particle-animation-1 60s infinite;
    animation: particle-animation-1 60s infinite;
    opacity: .13;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s;
    transform: translate3d(46vw,69vh,54px);
    background: #2632d9
}

@-webkit-keyframes particle-animation-2 {
    to {
        transform: translate3d(79vw,28vh,69px)
    }
}

@keyframes particle-animation-2 {
    to {
        transform: translate3d(79vw,28vh,69px)
    }
}

.particles_bg .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
    animation: particle-animation-2 60s infinite;
    opacity: .9;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s;
    transform: translate3d(53vw,5vh,36px);
    background: #26d9a0
}

@-webkit-keyframes particle-animation-3 {
    to {
        transform: translate3d(76vw,66vh,12px)
    }
}

@keyframes particle-animation-3 {
    to {
        transform: translate3d(76vw,66vh,12px)
    }
}

.particles_bg .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
    animation: particle-animation-3 60s infinite;
    opacity: .18;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s;
    transform: translate3d(81vw,25vh,82px);
    background: #3bd926
}

@-webkit-keyframes particle-animation-4 {
    to {
        transform: translate3d(83vw,64vh,23px)
    }
}

@keyframes particle-animation-4 {
    to {
        transform: translate3d(83vw,64vh,23px)
    }
}

.particles_bg .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
    animation: particle-animation-4 60s infinite;
    opacity: .21;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s;
    transform: translate3d(66vw,7vh,52px);
    background: #26d93b
}

@-webkit-keyframes particle-animation-5 {
    to {
        transform: translate3d(78vw,27vh,10px)
    }
}

@keyframes particle-animation-5 {
    to {
        transform: translate3d(78vw,27vh,10px)
    }
}

.particles_bg .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
    animation: particle-animation-5 60s infinite;
    opacity: .59;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: translate3d(41vw,83vh,80px);
    background: #d92638
}

@-webkit-keyframes particle-animation-6 {
    to {
        transform: translate3d(18vw,88vh,69px)
    }
}

@keyframes particle-animation-6 {
    to {
        transform: translate3d(18vw,88vh,69px)
    }
}

.particles_bg .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
    animation: particle-animation-6 60s infinite;
    opacity: .81;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    transform: translate3d(1vw,75vh,15px);
    background: #cdd926
}

@-webkit-keyframes particle-animation-7 {
    to {
        transform: translate3d(5vw,46vh,53px)
    }
}

@keyframes particle-animation-7 {
    to {
        transform: translate3d(5vw,46vh,53px)
    }
}

.particles_bg .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
    animation: particle-animation-7 60s infinite;
    opacity: .13;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    transform: translate3d(42vw,68vh,18px);
    background: #6826d9
}

@-webkit-keyframes particle-animation-8 {
    to {
        transform: translate3d(60vw,51vh,92px)
    }
}

@keyframes particle-animation-8 {
    to {
        transform: translate3d(60vw,51vh,92px)
    }
}

.particles_bg .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
    animation: particle-animation-8 60s infinite;
    opacity: .35;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    transform: translate3d(38vw,49vh,72px);
    background: #d9262f
}

@-webkit-keyframes particle-animation-9 {
    to {
        transform: translate3d(26vw,21vh,89px)
    }
}

@keyframes particle-animation-9 {
    to {
        transform: translate3d(26vw,21vh,89px)
    }
}

.particles_bg .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
    animation: particle-animation-9 60s infinite;
    opacity: .74;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    transform: translate3d(49vw,64vh,46px);
    background: #d92926
}

@-webkit-keyframes particle-animation-10 {
    to {
        transform: translate3d(84vw,50vh,51px)
    }
}

@keyframes particle-animation-10 {
    to {
        transform: translate3d(84vw,50vh,51px)
    }
}

.particles_bg .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
    animation: particle-animation-10 60s infinite;
    opacity: .06;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: translate3d(26vw,21vh,69px);
    background: #a626d9
}

@-webkit-keyframes particle-animation-11 {
    to {
        transform: translate3d(27vw,25vh,36px)
    }
}

@keyframes particle-animation-11 {
    to {
        transform: translate3d(27vw,25vh,36px)
    }
}

.particles_bg .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
    animation: particle-animation-11 60s infinite;
    opacity: 1;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    transform: translate3d(32vw,15vh,18px);
    background: #26a9d9
}

@-webkit-keyframes particle-animation-12 {
    to {
        transform: translate3d(61vw,67vh,20px)
    }
}

@keyframes particle-animation-12 {
    to {
        transform: translate3d(61vw,67vh,20px)
    }
}

.particles_bg .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
    animation: particle-animation-12 60s infinite;
    opacity: .56;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    transform: translate3d(46vw,71vh,50px);
    background: #266bd9
}

@-webkit-keyframes particle-animation-13 {
    to {
        transform: translate3d(10vw,87vh,67px)
    }
}

@keyframes particle-animation-13 {
    to {
        transform: translate3d(10vw,87vh,67px)
    }
}

.particles_bg .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
    animation: particle-animation-13 60s infinite;
    opacity: .38;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    transform: translate3d(19vw,77vh,7px);
    background: #26d9a3
}

@-webkit-keyframes particle-animation-14 {
    to {
        transform: translate3d(49vw,30vh,41px)
    }
}

@keyframes particle-animation-14 {
    to {
        transform: translate3d(49vw,30vh,41px)
    }
}

.particles_bg .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
    animation: particle-animation-14 60s infinite;
    opacity: .24;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    transform: translate3d(85vw,76vh,30px);
    background: #7dd926
}

@-webkit-keyframes particle-animation-15 {
    to {
        transform: translate3d(31vw,10vh,90px)
    }
}

@keyframes particle-animation-15 {
    to {
        transform: translate3d(31vw,10vh,90px)
    }
}

.particles_bg .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
    animation: particle-animation-15 60s infinite;
    opacity: .86;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: translate3d(1vw,87vh,3px);
    background: #d926d0
}

@-webkit-keyframes particle-animation-16 {
    to {
        transform: translate3d(54vw,35vh,7px)
    }
}

@keyframes particle-animation-16 {
    to {
        transform: translate3d(54vw,35vh,7px)
    }
}

.particles_bg .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
    animation: particle-animation-16 60s infinite;
    opacity: .24;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    transform: translate3d(49vw,74vh,99px);
    background: #97d926
}

@-webkit-keyframes particle-animation-17 {
    to {
        transform: translate3d(90vw,29vh,48px)
    }
}

@keyframes particle-animation-17 {
    to {
        transform: translate3d(90vw,29vh,48px)
    }
}

.particles_bg .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
    animation: particle-animation-17 60s infinite;
    opacity: .04;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    transform: translate3d(26vw,7vh,20px);
    background: #d92682
}

@-webkit-keyframes particle-animation-18 {
    to {
        transform: translate3d(40vw,87vh,45px)
    }
}

@keyframes particle-animation-18 {
    to {
        transform: translate3d(40vw,87vh,45px)
    }
}

.particles_bg .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
    animation: particle-animation-18 60s infinite;
    opacity: .97;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    transform: translate3d(47vw,30vh,94px);
    background: #26d96e
}

@-webkit-keyframes particle-animation-19 {
    to {
        transform: translate3d(69vw,78vh,93px)
    }
}

@keyframes particle-animation-19 {
    to {
        transform: translate3d(69vw,78vh,93px)
    }
}

.particles_bg .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
    animation: particle-animation-19 60s infinite;
    opacity: .22;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    transform: translate3d(71vw,28vh,67px);
    background: #97d926
}

@-webkit-keyframes particle-animation-20 {
    to {
        transform: translate3d(20vw,43vh,43px)
    }
}

@keyframes particle-animation-20 {
    to {
        transform: translate3d(20vw,43vh,43px)
    }
}

.particles_bg .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
    animation: particle-animation-20 60s infinite;
    opacity: .98;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: translate3d(62vw,61vh,92px);
    background: #d9a326
}

@-webkit-keyframes particle-animation-21 {
    to {
        transform: translate3d(56vw,44vh,75px)
    }
}

@keyframes particle-animation-21 {
    to {
        transform: translate3d(56vw,44vh,75px)
    }
}

.particles_bg .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
    animation: particle-animation-21 60s infinite;
    opacity: .79;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    transform: translate3d(24vw,21vh,77px);
    background: #26d956
}

@-webkit-keyframes particle-animation-22 {
    to {
        transform: translate3d(79vw,85vh,40px)
    }
}

@keyframes particle-animation-22 {
    to {
        transform: translate3d(79vw,85vh,40px)
    }
}

.particles_bg .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
    animation: particle-animation-22 60s infinite;
    opacity: .71;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    transform: translate3d(16vw,72vh,63px);
    background: #82d926
}

@-webkit-keyframes particle-animation-23 {
    to {
        transform: translate3d(39vw,76vh,83px)
    }
}

@keyframes particle-animation-23 {
    to {
        transform: translate3d(39vw,76vh,83px)
    }
}

.particles_bg .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
    animation: particle-animation-23 60s infinite;
    opacity: .74;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    transform: translate3d(73vw,10vh,34px);
    background: #26d929
}

@-webkit-keyframes particle-animation-24 {
    to {
        transform: translate3d(12vw,46vh,73px)
    }
}

@keyframes particle-animation-24 {
    to {
        transform: translate3d(12vw,46vh,73px)
    }
}

.particles_bg .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
    animation: particle-animation-24 60s infinite;
    opacity: .01;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    transform: translate3d(36vw,77vh,20px);
    background: #26d935
}

@-webkit-keyframes particle-animation-25 {
    to {
        transform: translate3d(8vw,31vh,94px)
    }
}

@keyframes particle-animation-25 {
    to {
        transform: translate3d(8vw,31vh,94px)
    }
}

.particles_bg .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
    animation: particle-animation-25 60s infinite;
    opacity: .87;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    transform: translate3d(10vw,74vh,43px);
    background: #d92632
}

@-webkit-keyframes particle-animation-26 {
    to {
        transform: translate3d(12vw,52vh,82px)
    }
}

@keyframes particle-animation-26 {
    to {
        transform: translate3d(12vw,52vh,82px)
    }
}

.particles_bg .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
    animation: particle-animation-26 60s infinite;
    opacity: .2;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    transform: translate3d(69vw,56vh,88px);
    background: #d926d3
}

@-webkit-keyframes particle-animation-27 {
    to {
        transform: translate3d(36vw,87vh,71px)
    }
}

@keyframes particle-animation-27 {
    to {
        transform: translate3d(36vw,87vh,71px)
    }
}

.particles_bg .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
    animation: particle-animation-27 60s infinite;
    opacity: 1;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    transform: translate3d(21vw,87vh,99px);
    background: #2641d9
}

@-webkit-keyframes particle-animation-28 {
    to {
        transform: translate3d(23vw,11vh,38px)
    }
}

@keyframes particle-animation-28 {
    to {
        transform: translate3d(23vw,11vh,38px)
    }
}

.particles_bg .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
    animation: particle-animation-28 60s infinite;
    opacity: .52;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    transform: translate3d(18vw,50vh,41px);
    background: #26d9a0
}

@-webkit-keyframes particle-animation-29 {
    to {
        transform: translate3d(38vw,39vh,66px)
    }
}

@keyframes particle-animation-29 {
    to {
        transform: translate3d(38vw,39vh,66px)
    }
}

.particles_bg .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
    animation: particle-animation-29 60s infinite;
    opacity: .8;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    transform: translate3d(81vw,33vh,78px);
    background: #26d974
}

@-webkit-keyframes particle-animation-30 {
    to {
        transform: translate3d(12vw,88vh,42px)
    }
}

@keyframes particle-animation-30 {
    to {
        transform: translate3d(12vw,88vh,42px)
    }
}

.particles_bg .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
    animation: particle-animation-30 60s infinite;
    opacity: .27;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    transform: translate3d(80vw,18vh,81px);
    background: #d926bb
}